<% layout('layout') -%>
<div class="card">
  <h2>Selamat datang, <%= user %></h2>
  <p>Jumlah siswa: <strong><%= studentsCount %></strong></p>
  <p>Jumlah guru: <strong><%= teachersCount %></strong></p>
</div>
